Package             Version
------------------- --------
cycler              0.11.0
dbus-python         1.2.16
distro-info         1.0
fonttools           4.36.0
GDAL                3.2.2
gyp                 0.1
joblib              1.1.0
kiwisolver          1.4.4
matplotlib          3.5.3
numpy               1.23.2
packaging           21.3
pandas              1.4.3
pdfkit              1.0.0
Pillow              9.2.0
pip                 20.3.4
pycurl              7.43.0.6
PyGObject           3.38.0
pyparsing           3.0.9
python-apt          2.2.1
python-dateutil     2.8.2
pytz                2022.2.1
scikit-learn        1.1.2
scipy               1.9.0
seaborn             0.11.2
setuptools          52.0.0
six                 1.16.0
sklearn             0.0
threadpoolctl       3.1.0
unattended-upgrades 0.1
wheel               0.34.2
wkhtmltopdf         0.2
