{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Connexion Client</title>
  <link rel="stylesheet" href="{% static 'css/style_user.css' %}">
</head>
<body>
  <div class="login-wrapper">
    <div class="login-card">
      <h2>Connexion Client</h2>
      <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Mot de passe" required><br>
        <button type="submit">Se connecter</button>
      </form>
    </div>
  </div>
</body>
</html>
