{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation Chauffeur</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
    <div class="container">
        <h2>Mot de passe – Chauffeur</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email du chauffeur" required>
            <button type="submit">Envoyer le lien</button>
        </form>
        <a href="{% url 'register_user' %}">Créer un compte</a>
    </div>
</body>
</html>