{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Client</title>
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-card">
            <h2>Connexion Client</h2>
            <form method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" required><br>
                <input type="password" name="password" placeholder="Mot de passe" required><br>
                <button type="submit">Se connecter</button>
                <input type="hidden" name="role" value="voyageur">
            </form>
            {% if messages %}
                <div class="alert-box">
                    {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- LIENS UTILES -->
            <div style="margin-top: 15px;">
                <a href="{% url 'register_user' %}" style="margin-right: 20px; color: #4CAF50; font-weight: bold;">Créer un compte</a>
                <a href="{% url 'password_reset_voyageur' %}" style="color: #4CAF50; font-weight: bold;">Mot de passe oublié ?</a>
            </div>
            <div style="margin-top: 20px;">
                <a href="{% url 'home' %}" style="color: #4CAF50; font-weight: bold;">← Retour à l'accueil</a>
              </div>
                  <p style="margin-top: 20px; color: #4CAF50;">Vous n'êtes pas voyageur ? 
                    <br>
                    <a href="{% url 'login_chauffeur' %}" style="color: #4CAF50; font-weight: bold;">Connectez-vous en tant que chauffeur
                    </a></p>
                </div>
              </div>
        </div>
       
    </div>
</body>
</html>
