{% extends 'html/base.html' %} {% block section %}

<!--====================================
=            Choose Barre  Section            =
=====================================-->

<section>
  <div class="container-section-1">
   
      <!--====================================
=            Hero Section            =
=====================================-->
  <div class="calendar">
    <button>{{ jour_avant }}. , {{num_du_jour_avant}} {{ mois }}</button>
    <button>{{ jour }}. , {{num_du_jour}} {{ mois }}</button>
    <button>{{ jour_apres }}. , {{ num_du_jour_apres }} {{ mois }}</button>
  </div>

  <div class="inputs">
    <input type="text" placeholder="De" value="{{ ville_depart}}">
    <input type="text" placeholder="À" value="{{ ville_arrivee}}">
    <input type="date" value="{{ date_depart }}">
    {% if date_retour is not none  %}
    <input type="date" value="{{ date_retour }}">
    {% endif %}

    <select>
    <option>{{ nombre_adultes }} adulte(s), {{ nombre_enfants }} enfant(s), {{ nombre_bagages }} bagage(s)</option>
    </select>
  </div>
  {% if result.ville_depart or result_retour.ville_depart %}
  {% if date_retour is not none %}
  <div class="annonce-wrapper">
  
    <div id="results-retour-container">
      {% for aller in result %}
        {% for retour in result_retour %}
          <form class="annonce" method="post" action="{% url 'infos_personnelles' %}">
            {% csrf_token %}
            <div class="ligne-haut">Des frais de service seront ajoutés à chaque réservation.</div>
  
            <div class="info-ligne">
              <div class="bloc">Départ : {{ aller.date_depart }} - {{ aller.ville_depart }}</div>
              <div class="bloc">Durée : {{ aller.heures }}h{{ aller.minutes }}</div>
              <div class="bloc">Arrivée : {{ aller.date_arrivee }} - {{ aller.ville_arrivee }}</div>
            </div>
  
            <hr>
  
            <div class="info-ligne">
              <div class="bloc">Retour : {{ retour.date_depart }} - {{ retour.ville_depart }}</div>
              <div class="bloc">Durée : {{ retour.heures }}h{{ retour.minutes }}</div>
              <div class="bloc">Arrivée : {{ retour.date_arrivee }} - {{ retour.ville_arrivee }}</div>
            </div>
  
            <div class="prix">
              Prix total : {{ aller.prix_unitaire|floatformat:0|add:retour.prix_unitaire|floatformat:0 }} fcfa
            </div>
  
            <input type="hidden" name="selected_index" value="{{ forloop.parentloop.counter0 }}">
            <button type="submit" class="btn-continu" style="width: 20%;">Continuer</button>
          </form>
        {% endfor %}
      {% endfor %}
    </div>
  
    <div class="pagination-controls-retour">
      <button id="prev-retour-btn" disabled>⬅ Précédent</button>
      <button id="next-retour-btn">Suivant ➡</button>
    </div>
  
  </div>
<!--====================================
=            Section Aller simpl       =
=====================================-->
{% else %}
<div class="pagination-wrapper">
  <div id="results-container">
    {% for voyage in result %}
      <form class="search-box" method="post" action="{% url 'infos_personnelles' %}">
        {% csrf_token %}
        <div class="notice">Des frais de service seront ajoutés à chaque réservation.</div>
        <div class="result">
          <div class="annonce-result">
            <div>Départ : {{ voyage.date_depart }} - {{ voyage.ville_depart }}</div>
            <hr>
            <div>Durée : {{ voyage.heures }} : {{ voyage.minutes }}</div>
            <hr>
            <div>Arrivée : {{ voyage.date_arrivee }} - {{ voyage.ville_arrivee }}</div>
          </div>
          <div class="price"><strong>{{ voyage.prix_unitaire|floatformat:0 }} fcfa</strong></div>
          <input type="hidden" name="selected_index" value="{{ forloop.counter0 }}">
          <button type="submit" class="continue" style="width: 20%;">Continuer</button>
        </div>
      </form>
    {% endfor %}
  </div>

  <div class="pagination-controls">
    <button id="prev-btn" disabled> ⬅ Précédent</button>
    <button id="next-btn">Suivant ➡ </button>
  </div>
{% endif %}

{% else %}


<div style="background-color: rgba(0, 0,0,0.6);
padding : 30px;
color: white;
border-radius: 10px;
font-size: 24px;
font-weight: bold;
text-align: center;
max-width: 600px;
margin: 80px auto;
box-shadow: 0 0 10px rgba(0, 0,0,0.4);
">
  Aucun voyage disponible à cette date
  <a href="{% url 'home' %}" style="margin-top: 20px;
  background-color: #28a754;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  ">Retour à l'acceuil</a>
</div>

{% endif %}
  </div>
</section>



{% endblock %}

