{% extends 'html/base.html' %} {% block section %}

<!--====================================
=            Hero Section            =
=====================================-->

<section>
  <form class="container-section-1" action="" method="post">
    {% csrf_token %}
    <div class="the-trip-box-1">
      <div class="btn-choice">
        <label for="aller">
          <em style="font-size: medium;">Aller-Simple</em>

          <input type="radio" id="aller" name="trip" value = "aller" checked/>
        </label>

        <label for="retour">
          <em style="font-size: medium;">Aller-Retour</em>

          <input type="radio" id="retour" name="trip" value = "retour" />
        </label>
      </div>

      <input
        class="im-1 city"
        id="box-depart-2"
        type="text"
        name="depart"
        placeholder="Ville de départ"
      />
      <input
        class="im-1 city"
        id="box-arrivee-2"
        type="text"
        name="destination"
        placeholder="Ville arrivée"
      />
      <div class="dropdown-choose-opt" style="height: 100%;">
      <span class="dropbtn icon">
        <div id="btn-passager">1 adulte</div>
        <img class="drop-down" src="static/images/down-arrow.png" alt="" />
      </span>
      <span class="dropdown-content">
        <div class="adulte">
          <div>Adulte(s)</div>
          <span class="add-info-1">
            <img
              class="adl-1 adl-btn-1 btn-more-adl"
              src="static/images/plus.png"
              alt=""
            />
            <input class="adl-1" id="nbr-adl" name="nbr_adl" type="text" value="1" />
            <img
              class="adl-1 adl-btn-2 btn-manus-adl"
              src="static/images/moins.png"
              alt=""
            />
          </span>
        </div>
        <div class="enfant">
          <div>Enfant(s)</div>
          <span class="add-info-1">
            <img
              class="adl-1 adl-btn-1 btn-more-enf"
              src="static/images/plus.png"
              alt=""
            />
            <input class="adl-1" id="nbr-enf" name="nbr_enf" type="text" value="0" />
            <img
              class="adl-1 adl-btn-2 btn-manus-enf"
              src="static/images/moins.png"
              alt=""
            />
          </span>
        </div>
        <div class="bagage">
          <div>Bagage(s)</div>
          <div class="add-info-1">
            <img
              class="adl-1 adl-btn-1 btn-more-bg"
              src="static/images/plus.png"
              alt=""
            />
            <input class="adl-1" id="nbr-bga" name="nbr_bga" type="text" value="0" />
            <img
              class="adl-1 adl-btn-2 btn-manus-bg"
              src="static/images/moins.png"
              alt=""
            />
          </div>
        </div>
      </span>

    </div>

      <input
        class="im-1"
        type="date"
        name="date_depart"
        id="date-depart"
        value="{{ current }}"
      />
      <input
        class="im-1 date-retour"
        type="date"
        name="date_retour"
        value="{{ tomorrow }}"
      />
      <button class="btn-search" type="submit">Chercher</button>
    </div>
    <!--==================  box depart ====================
    <center>
      <div id="box-depart-3">
        {% for dep in list_ville_depart %} {{ dep }} <br />
        {% endfor %}
      </div>
      <div id="box-arrivee">
        {% for arv in list_ville_arrivee %} {{ arv }} <br />
        {% endfor %}
      </div>
    </center>
    -->
  </form>
</section>
<!--====  End of Hero Section  ====-->
<!--=================================
=            Video Promo            =
==================================-->
<section class="video-promo section bg-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content-block">
          <!-- Heading -->
          <h2>Watch Our Promo Video</h2>
          <!-- Promotional Speech -->
          <p>
            Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur
            arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus
          </p>
          <!-- Popup Video -->
          <a data-fancybox href="https://www.youtube.com/watch?v=jrkvirglgaQ">
            <i class="ti-control-play video"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====  End of Video Promo  ====-->

<!--=================================
=            Testimonial            =
==================================-->
<section class="section testimonial" id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Testimonial Slider -->
        <div class="testimonial-slider owl-carousel owl-theme">
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="block shadow">
              <!-- Speech -->
              <p>
                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                Donec sollicitudin molestie malesuada. Donec sollicitudin
                molestie malesuada. Pellentesque in ipsum id orci porta dapibus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                pretium ut lacinia in, elementum id enim.
              </p>
              <!-- Person Thumb -->
              <div class="image">
                <img src="" alt="image" />
              </div>
              <!-- Name and Company -->
              <cite>Abraham Linkon , Themefisher.com</cite>
            </div>
          </div>
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="block shadow">
              <!-- Speech -->
              <p>
                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                Donec sollicitudin molestie malesuada. Donec sollicitudin
                molestie malesuada. Pellentesque in ipsum id orci porta dapibus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                pretium ut lacinia in, elementum id enim.
              </p>
              <!-- Person Thumb -->
              <div class="image">
                <img src="" alt="image" />
              </div>
              <!-- Name and Company -->
              <cite>Abraham Linkon , Themefisher.com</cite>
            </div>
          </div>
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="block shadow">
              <!-- Speech -->
              <p>
                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                Donec sollicitudin molestie malesuada. Donec sollicitudin
                molestie malesuada. Pellentesque in ipsum id orci porta dapibus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                pretium ut lacinia in, elementum id enim.
              </p>
              <!-- Person Thumb -->
              <div class="image">
                <img src="" alt="image" />
              </div>
              <!-- Name and Company -->
              <cite>Abraham Linkon , Themefisher.com</cite>
            </div>
          </div>
          <!-- Testimonial 01 -->
          <div class="item">
            <div class="block shadow">
              <!-- Speech -->
              <p>
                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                Donec sollicitudin molestie malesuada. Donec sollicitudin
                molestie malesuada. Pellentesque in ipsum id orci porta dapibus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
                pretium ut lacinia in, elementum id enim.
              </p>
              <!-- Person Thumb -->
              <div class="image">
                <img src="" alt="image" />
              </div>
              <!-- Name and Company -->
              <cite>Abraham Linkon , Themefisher.com</cite>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====  End of Testimonial  ====-->

{% endblock %} {% block scripts %}
<script>
  /* construction d'une fonction qui permet de retourner un array unique */
  function uniqueArr(Arr) {
    let outputArray = [];

    // Count variable is used to add the
    // new unique value only once in the
    // outputArray.
    let count = 0;

    // Start variable is used to set true
    // if a repeated duplicate value is
    // encontered in the output array.
    let start = false;

    for (let j = 0; j < Arr.length; j++) {
      for (let k = 0; k < outputArray.length; k++) {
        if (Arr[j] == outputArray[k]) {
          start = true;
        }
      }
      count++;
      if (count == 1 && start == false) {
        outputArray.push(Arr[j]);
      }
      start = false;
      count = 0;
    }

    return outputArray;
  }
/*
  const box_arrivee = document.getElementById("box-arrivee");
  const box_depart = document.getElementById("box-depart-3");

  const depart = "{{list_ville_depart}}";
  const arrivee = "{{list_ville_arrivee}}";

  const rdepart = JSON.parse(JSON.stringify(depart).replace(/&#x27;/g, "'"));
  const rarrivee = JSON.parse(JSON.stringify(arrivee).replace(/&#x27;/g, "'"));

  const input_d = document.getElementById("box-depart-2");
  const input_a = document.getElementById("box-arrivee-2");
  console.log(input_d);
  console.log(input_a);

  let filteredDep = [];
  let filteredArr = [];

  /* change string to array for use .filter */
  /*
  let arr = rdepart.split("'");
  let arr_depart = arr.filter((e) => e !== "[" && e !== "]" && e !== ", ");

  let arr2 = rarrivee.split("'");
  let arr_arrivee = arr2.filter((e) => e !== "[" && e !== "]" && e !== ", ");
  /* fin de la conversion en array */
  /*
  input_a.addEventListener("mouseover", () => {
    box_arrivee.style.display = "block";
    /*=================== ici ==================================*/
/*
    input_a.addEventListener("keyup", (e) => {
      box_arrivee.innerHTML = "";
      filteredArr = arr_arrivee.filter((element) =>
        element.toLowerCase().includes(e.target.value)
      );
      console.log(filteredArr);
      filteredArr_uniq = uniqueArr(filteredArr);
      console.log(filteredArr_uniq);
      if (filteredArr_uniq.length == 1) {
        box_arrivee.innerHTML +=
          "<b><a>" + filteredArr_uniq[0] + "</a></b></br>";
      } else if (filteredArr_uniq.length > 1) {
        console.log("je suis bien ici");

        for (let i = 0; i < filteredArr_uniq.length; i++) {
          console.log(filteredArr_uniq[i]);
          box_arrivee.innerHTML +=
            "<b><a>" + filteredArr_uniq[i] + "</a></b></br>";
        }
      } else {
        box_arrivee.innerHTML = "<b>No results found...</b>";
      }
    });

    /* ================= fin ===============================*/
  /*});
  
  input_a.addEventListener("keyup", (e) => {
    box_arrivee.innerHTML = "";
    filteredArr = arr_arrivee.filter((element) =>
      element.toLowerCase().includes(e.target.value)
    );
    console.log(filteredArr);
    filteredArr_uniq = uniqueArr(filteredArr);
    console.log(filteredArr_uniq);
    if (filteredArr_uniq.length == 1) {
      box_arrivee.innerHTML += "<b><a>" + filteredArr_uniq[0] + "</a></b></br>";
    } else if (filteredArr_uniq.length > 1) {
      console.log("je suis bien ici");

      for (let i = 0; i < filteredArr_uniq.length; i++) {
        console.log(filteredArr_uniq[i]);
        box_arrivee.innerHTML +=
          "<b><a>" + filteredArr_uniq[i] + "</a></b></br>";
      }
    } else {
      box_arrivee.innerHTML = "<b>No results found...</b>";
    }
  });
*/
/*
  input_d.addEventListener("mouseover", () => {
    box_depart.style.display = "block";
    input_d.addEventListener("keyup", (e) => {
      box_depart.innerHTML = "";
      filteredDep = arr_depart.filter((element) =>
        element.toLowerCase().includes(e.target.value)
      );
      console.log(filteredDep);
      filteredDep_uniq = uniqueArr(filteredDep);
      if (filteredDep_uniq.length == 1) {
        box_depart.innerHTML +=
          "<b><a>" + filteredDep_uniq[0] + "</a></b></br>";
      } else if (filteredDep_uniq.length > 1) {
        for (let i = 0; i < filteredDep_uniq.length; i++) {
          console.log(filteredDep_uniq[i]);
          box_depart.innerHTML +=
            "<b><a>" + filteredDep_uniq[i] + "</a></b></br>";
        }
      } else {
        box_depart.innerHTML = "<b>No results found...</b>";
      }
    });
  });

  const linkDep = document.getElementById("box-depart-3");
  arr0 = linkDep.childNodes;
  for (let i = 0; i < arr0.length; i++) {
    arr0[i].addEventListener("click", (e) => {
      input_d.innerHTML = arr0[i].innerText;
    });
  }

  const linkArr = document.getElementById("box-arrivee");
  arr1 = linkArr.childNodes;
  for (let i = 0; i < arr1.length; i++) {
    arr1[i].addEventListener("click", (e) => {
      input_a.innerHTML = arr1[i].innerText;
    });
  }
  */
</script>
{% endblock scripts%}
